footer{
    grid-area: footer;
    background: $color2;
    display: grid;
    grid-template-rows: 2fr 1fr ;
    .footer--right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .ul--footer{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: end;

            .footer__icon{
                width: 30px;
                height: 30px;
                margin-top: 2em;
                margin-right: 1em;
             }
        }
    }
}