header {
    grid-area: header;
    display: grid;
    background: $color2;
    grid-template-areas: 
    "logo"
    "nav"; 
    nav {
        grid-area: nav; 
        ul {
            display: flex;
            flex-direction: column;
            align-items: center; 
            margin: 0em;
            padding-left: 0rem;
            
            li {
                list-style: none;
                align-items: center;
                padding: 0 0.2em;
                &:hover {
                        background: $color3;
                        transform: scale(1.2);
                        
                     }
                
                a {
                    text-decoration: none;
                    color: $color4;
                &:hover {
                    color: $color4;
                }
                }
            }
        }
    }
    .container--logo {
        grid-area: logo;
        display: flex;
        justify-content: center;
        .a--logo{
            display: flex;
            .logo {
                width: 3em; 
                filter: invert(100%); 
                &:hover {
                    filter: invert(0%);
                }   
            } 
        
        }
    }
}