.h1--store {
    margin-bottom: 0.5em;
}
@mixin flex-row-wrap-center{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__container--store {
    @include flex-row-wrap-center;
    .container__card--store {
        background: $color2;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 1em;
        .card__image--store {
            display: flex;
            justify-content: center;
            .image--store {
                width: 6em;
                height: 20em;
                object-fit: cover;
            }
        }
        .card__info--store {
            .cardtile--store {
                text-align: justify;
                padding: 0 0.5em;
            }
            .cardtext--store {
                padding: 0.5em;
                font-size: 0.9em;

            }
            .form--store {
                .button--store {
                    color: $color4;
                    background: $color1;
                    padding: 0.5em;
                    margin: 1em;
                    border: none;
                    font-family: 'Oswald', sans-serif;
                    font-size: 0.7em;

                    &:hover {
                        background: $color3;
                        transform: scale(1.1);
                    }
                }
            }
        }

    }
}