$color1: #f1e9da;
$color2: #b6985a;
$color3: #9b814e;
$color4: rgb(0, 0, 0);
$color5: rgb(95, 95, 95);
$color6: rgb(255, 255, 255);



/*$color1: rgb(220, 20, 60);
$color2: rgb(161, 13, 43);
$color3: rgb(114, 10, 31);
$color4: rgb(255, 255, 255);
$color5: rgb(204, 204, 204);*/