* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  font-family: 'Oswald', sans-serif;
  background-color: #f1e9da;
  font-size: 1.75rem;
  color: #000000; }

main {
  grid-area: main; }

h1 {
  text-align: center;
  margin-top: 1em; }

.h1 {
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold; }

.h3 {
  font-weight: bold;
  font-size: 1.17em; }

h3, h4 {
  padding: 0 0.5rem; }

p {
  text-align: justify;
  padding: 1.5rem; }

header {
  grid-area: header;
  display: grid;
  background: #b6985a;
  grid-template-areas: "logo" "nav"; }
  header nav {
    grid-area: nav; }
    header nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0em;
      padding-left: 0rem; }
      header nav ul li {
        list-style: none;
        align-items: center;
        padding: 0 0.2em; }
        header nav ul li:hover {
          background: #9b814e;
          transform: scale(1.2); }
        header nav ul li a {
          text-decoration: none;
          color: #000000; }
          header nav ul li a:hover {
            color: #000000; }
  header .container--logo {
    grid-area: logo;
    display: flex;
    justify-content: center; }
    header .container--logo .a--logo {
      display: flex; }
      header .container--logo .a--logo .logo {
        width: 3em;
        filter: invert(100%); }
        header .container--logo .a--logo .logo:hover {
          filter: invert(0%); }

footer {
  grid-area: footer;
  background: #b6985a;
  display: grid;
  grid-template-rows: 2fr 1fr; }
  footer .footer--right {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    footer .footer--right .ul--footer {
      display: flex; }
      footer .footer--right .ul--footer .li--footer {
        display: flex;
        align-items: center; }
        footer .footer--right .ul--footer .li--footer .icon--footer {
          margin: 0.5em; }
  footer .footer--left .text--footer {
    padding: 0 0.5rem; }

.footer__icon--facebook:hover {
  filter: drop-shadow(0px 0px 11px #0004ff); }

.footer__icon--twitter:hover {
  filter: drop-shadow(0px 0px 11px #00aeff); }

.footer__icon--instagram:hover {
  filter: drop-shadow(0px 0px 11px #ff00bf); }

.parallax-1 {
  width: 100%;
  height: 100vh;
  background-image: url(../images/winery.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .parallax-1 .blur {
    position: absolute;
    background-color: inherit;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 0 0.2em; }
    .parallax-1 .blur .parallaxtitles {
      font-size: 2rem;
      color: #ffffff; }

.parallax-2 {
  width: 100%;
  height: 100vh;
  background-image: url(../images/wine.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .parallax-2 .blur {
    position: absolute;
    background-color: inherit;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 0 0.2em; }
    .parallax-2 .blur .parallaxtitles {
      font-size: 2rem;
      color: #ffffff; }

.parallax-3 {
  width: 100%;
  height: 100vh;
  background-image: url(../images/grapes.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  .parallax-3 .blur {
    position: absolute;
    background-color: inherit;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 0 0.2em; }
    .parallax-3 .blur .parallaxtitles {
      font-size: 2rem;
      color: #ffffff; }

.carousel {
  margin-bottom: 1em;
  border: 0.3em solid #9b814e; }

.conteiner__video--winery {
  width: 100%;
  height: auto;
  margin: 0.5em 0em;
  border: 0.3em solid #b6985a; }

.container {
  padding-left: 0em;
  padding-right: 0em; }
  .container .row {
    margin: 0;
    padding: 0; }
    .container .row .col-xs-12 {
      padding: 0; }

.h1--store {
  margin-bottom: 0.5em; }

.main__container--store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main__container--store .container__card--store {
    background: #b6985a;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1em; }
    .main__container--store .container__card--store .card__image--store {
      display: flex;
      justify-content: center; }
      .main__container--store .container__card--store .card__image--store .image--store {
        width: 6em;
        height: 20em;
        object-fit: cover; }
    .main__container--store .container__card--store .card__info--store .cardtile--store {
      text-align: justify;
      padding: 0 0.5em; }
    .main__container--store .container__card--store .card__info--store .cardtext--store {
      padding: 0.5em;
      font-size: 0.9em; }
    .main__container--store .container__card--store .card__info--store .form--store .button--store {
      color: #000000;
      background: #f1e9da;
      padding: 0.5em;
      margin: 1em;
      border: none;
      font-family: 'Oswald', sans-serif;
      font-size: 0.7em; }
      .main__container--store .container__card--store .card__info--store .form--store .button--store:hover {
        background: #9b814e;
        transform: scale(1.1); }

form {
  margin: 1em;
  background: #b6985a;
  display: grid;
  grid-template-rows: 4, 1fr; }
  form .form__container--name {
    display: flex; }
    form .form__container--name .container__input {
      padding: 0.5em;
      margin: 0.5em;
      font-family: 'Oswald', sans-serif;
      font-size: 0.7em;
      width: 100%;
      background: #b6985a;
      border: 0;
      border-bottom: 3px solid #f1e9da;
      color: #000000;
      outline: none; }
  form .form__container--email {
    display: flex; }
    form .form__container--email .container__input {
      padding: 0.5em;
      margin: 0.5em;
      font-family: 'Oswald', sans-serif;
      font-size: 0.7em;
      width: 100%;
      background: #b6985a;
      border: 0;
      border-bottom: 3px solid #f1e9da;
      color: #000000;
      outline: none; }
  form .form__container--message {
    display: flex; }
    form .form__container--message .container__input--message {
      padding: 0.5em;
      margin: 0.5em;
      font-family: 'Oswald', sans-serif;
      font-size: 0.7em;
      width: 100%;
      background: #b6985a;
      border: 0;
      border-bottom: 3px solid #f1e9da;
      color: #000000;
      outline: none;
      resize: none; }
  form .form__container--submit {
    justify-content: center;
    display: flex; }
    form .form__container--submit .container__submit {
      color: #000000;
      background: #f1e9da;
      padding: 0.5em;
      margin: 1em;
      border: none;
      font-family: 'Oswald', sans-serif;
      font-size: 0.7em;
      resize: none; }
      form .form__container--submit .container__submit:hover {
        background: #9b814e;
        transform: scale(1.2); }

::placeholder {
  color: #5f5f5f; }

.main__container--about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .main__container--about .container__card--about {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: #b6985a;
    margin: 1em; }
    .main__container--about .container__card--about .card__image--about {
      display: flex;
      padding-top: 1em;
      justify-content: center; }
      .main__container--about .container__card--about .card__image--about .image--about {
        height: 14em;
        width: 85%;
        object-fit: cover; }
    .main__container--about .container__card--about .card__info--about .cardtitle--about {
      margin-top: 0.5em;
      font-size: 1.5em;
      text-align: center; }
    .main__container--about .container__card--about .card__info--about .cardtext--about {
      margin: 0 0.5em;
      padding: 0;
      padding-bottom: 1em; }

@media (min-width: 768px) {
  body {
    background: #f1e9da;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%; }
  header nav ul li {
    padding: 0.3em; }
  .parallax-1 .blur .parallaxtitles,
  .parallax-2 .blur .parallaxtitles,
  .parallax-3 .blur .parallaxtitles {
    font-size: 3rem; }
  .splitter {
    padding: 5rem; }
  .carousel {
    border: 0.5em solid #9b814e;
    margin: 1em; }
  .main__container--store {
    justify-content: space-evenly; }
  .main__container--store .container__card--store {
    width: 42%;
    margin-bottom: 2em; }
  .main__container--store .container__card--store .card__info--store .cardtile--store {
    height: 3em; }
  .main__container--store .container__card--store .card__info--store .cardtext--store {
    height: 9em; }
  .main__container--store {
    justify-content: space-evenly;
    align-content: flex-start; }
  main .main__container--about .container__card--about {
    display: flex;
    flex-direction: column;
    width: 21em; }
  main .main__container--about .container__card--about .card__image--about .image--about {
    width: 18em; }
  main .main__container--about .container__card--about .card__info--about .cardtext--about {
    height: 12em; }
  footer {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr; }
  footer .footer--right {
    justify-content: end; } }

@media (min-width: 768px) and (min-width: 1024px) {
  header {
    display: grid;
    grid-area: header;
    background: #b6985a;
    grid-template-areas: "logo nav"; }
  header .container--logo {
    grid-area: logo;
    display: flex;
    justify-content: start; }
  header .container--logo .a--logo .logo {
    width: 2.5em; }
  header nav ul {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 0.5em;
    margin-left: 0%; }
  header nav ul li {
    padding: 0em 0.5em;
    transition: 0.5s; }
  header nav {
    grid-area: nav;
    display: flex; }
  .container .row .col-xs-12 {
    padding: 1em; }
  .container {
    max-width: 100%; }
  form {
    margin: 1em 20%; }
  main .main__container--about .container__card--about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 41em; }
  main .main__container--about .container__card--about .card__image--about .image--about {
    padding-bottom: 1em; }
  .main__container--store .container__card--store {
    width: 30%;
    margin-bottom: 1.5em; }
  .d-block {
    height: 100vh;
    object-fit: cover; } }
